<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор фильмов</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script>
        async function sendPostRequest(url, myTitle) {
            console.log("Функция вызвана")
            const data = { title: myTitle };

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const json = await response.json();
                    return json;
                } else {
                    throw new Error('Response not OK');
                }
            } catch (error) {
                console.error(error);
                return null;
            }
        }
        async function sendSaveRequest(data) {
            console.log("Функция сохранения вызвана")
            try {
                const response = await fetch("/film/save", {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const json = await response.json();
                    return json;
                } else {
                    throw new Error('Response not OK');
                }
            } catch (error) {
                console.error(error);
                return null;
            }
        }
        async function sendDeleteRequest(data) {
            console.log("Функция сохранения вызвана")
            try {
                const response = await fetch("/film/delete", {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const json = await response.json();
                    return json;
                } else {
                    throw new Error('Response not OK');
                }
            } catch (error) {
                console.error(error);
                return null;
            }
        }
        function clearSelectExcept0(selectEl) {
            const options = selectEl.querySelectorAll("option");
            for (let i = 0; i < options.length; i++) {
                if (options[i].value !== "0") {
                    options[i].remove();
                }
            }
        }
        function addElementsToSelect(selectEl, res) {
            const myList = res.list
            myList.forEach(function(element) {
                const option = document.createElement("option");
                option.value = element.id;
                if (selectEl.id === "selectOptions") option.value = element.title
                option.text = element.id + ". " + element.title;
                if (res.selected.id === element.id) option.selected = true;
                selectEl.add(option);
            });
        }
    </script>
    <style>
        .button-table button {
            width: 150px;
            height: 60px;
            border: none;
            font-size: 20px;
            font-family: 'Pacifico', cursive;
            background-color: #2cf5f5;
            color: black;
        }
        h1 {
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<div class="section content">
    <div class="items smallItems">
        <div class="form-row">
            <form th:action="@{/film/editor}" method="get">
                <select id="choose" name="choose" onchange="this.form.submit()">
                    <option th:value="${film.id}">Выбрать</option>
                    <option th:each="filmItem : ${filmItems}"
                            th:value="${filmItem.id}"
                            th:selected="${filmItem.id == film.id}"
                            th:text="${filmItem.title}">
                    </option>
                </select>
            </form>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <a th:href="@{/film/editor/{id}(id=${firstId})}">
                    <button id="flash-back" title="К первому">
                        <img src="/images/flash-back.png" width="30" alt="к первому"/>
                    </button>
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <a th:href="@{/film/editor/{id}(id=${prevId})}">
                    <button id="back" title="Назад">
                        <img src="/images/back.png" width="30" alt="предыдущий"/>
                    </button>
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <button title="Сохранить" id="save" onclick="onClickSave()"><img src="/images/img.png" width="30" alt="сохранить"/></button>
            </div>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <a th:href="@{/film/editor/{id}(id=${nextId})}">
                    <button title="Вперёд" id="forward"><img src="/images/forward.png" width="30" alt="следующий"/></button>
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <a th:href="@{/film/editor/{id}(id=${lastId})}">
                    <button title="К последнему" id="flash-forward"><img src="/images/flash-forward.png" width="30" alt="к последнему"/>
                    </button>
                </a>
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <div class="button-wrapper">
                <a th:href="@{/film/editor/{id}(id=0)}">
                    <button id="new-movie" class="carte">Новый фильм</button>
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <button id="delete-movie" class="carte" onclick="onClickDelete()">Удалить</button>
            </div>
        </div>
        <div class="form-row">
            <div class="button-wrapper">
                <button id="menu" class="carte" onclick="location.href='/'">Меню</button>
            </div>
        </div>
    </div>

    <div class="items">
        <div class="form-row">
            <label for="movieID">id</label>
            <p id="movieId"><span th:text="${film.id}"></span></p>
        </div>
        <div class="form-row">
            <label for="title">Название</label>
            <input id="title" title="начните с большой буквы или цифры" name="title" pattern="[А-ЯA-Z0-9][а-яa-z0-9]*" required type="text" th:field="${film.title}"/>
        </div>
        <div class="form-row">
            <label for="description">Описание</label>
            <textarea id="description" name="description" th:field="${film.description}"></textarea>
        </div>
        <div class="form-row">
            <label for="duration">Длина(мин)</label>
            <input id="duration" name="duration" type="number" th:field="${film.duration}"/>
        </div>
        <div class="form-row">
            <label for="box-office">Сборы ($)</label>
            <input id="box-office" name="box-office" type="number" th:field="${film.totalBoxOffice}"/>
        </div>
        <div class="form-row">
            <label for="budget">Бюджет ($)</label>
            <input id="budget" name="budget" type="number" th:field="${film.budget}"/>
        </div>
        <div class="form-row">
            <label for="release-date">Дата</label>
            <input id="release-date" name="release-date" type="date" th:field="${film.releaseDate}"/>
        </div>
        <div class="form-row">
            <label for="country">Страна</label>
            <select size="1" id="country" name="country">
                <option th:value="0">Выбрать</option>
                <option th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:selected="${country.id == film.country.id}"
                        th:text="${country.title}">
                </option>
            </select>
            <button title="Добавить" type="button" onclick="onClickPlus('/country/miniCreate', 'country')">+</button>
        </div>
        <div class="form-row">
            <label for="genre">Жанр</label>
            <select size="1" id="genre" name="genre">
                <option th:value="0">Выбрать</option>
                <option th:each="genre : ${genres}"
                        th:value="${genre.id}"
                        th:selected="${genre.id == film.genre.id}"
                        th:text="${genre.title}">
                </option>
            </select>
            <button title="Добавить" type="button" onclick="onClickPlus('/genre/miniCreate', 'genre')">+</button>
        </div>
        <div class="form-row">
            <label for="ageLimit">Возраст</label>
            <select size="1" id="ageLimit" name="ageLimit">
                <option th:value="0">Выбрать</option>
                <option th:each="ageLimit : ${age_limits}"
                        th:value="${ageLimit.id}"
                        th:selected="${ageLimit.id == film.ageLimit.id}"
                        th:text="${ageLimit.category}">
                </option>
            </select>
            <button title="Добавить" type="button" onclick="onClickPlus('/ageLimit/miniCreate', 'ageLimit')">+</button>
        </div>
        <div class="form-row">
            <label for="quality">Качество</label>
            <select size="1" id="quality" name="quality">
                <option th:value="0">Выбрать</option>
                <option th:each="quality : ${qualities}"
                        th:value="${quality.id}"
                        th:selected="${quality.id == film.quality.id}"
                        th:text="${quality.type}">
                </option>
            </select>
            <button title="Добавить" type="button" onclick="onClickPlus('/quality/miniCreate', 'quality')">+</button>
        </div>


        <!-- Поле с persons-->

        <div class="multipleSelect">
            <!-- Список с выбором опций -->
            <div class="form-row">
                <label for="selectOptions">Участники</label>
                <select size="1" id="selectOptions" onchange="addSelectedOption()">
                    <option th:value="0">Выбрать</option>
                    <option th:each="person : ${persons}"
                            th:value="${person.fullName}"
                            th:text="${person.fullName}">
                    </option>
                </select>
                <!-- Кнопка для добавления новой опции, сюда подвязываешь свой prompt для функции addOption -->
                <button title="Добавить" type="button" onclick="onClickPlus('/person/miniCreate', 'selectOptions')">+</button>
            </div>
            <!-- Выведенные строки выбранных опций -->
            <div class="form-row">
                <ul id="selectedOptions"></ul>
            </div>
            <script>
                const listStr = "[[${personsByFilm}]]";
                const dataJson = "{\"persons\": " + listStr.replaceAll("&quot;", "\"") + "}";

                // Массив для хранения всех опций
                const options = extractNamesFromJson(dataJson);
                // Элемент селекта
                const selectElement = document.getElementById('selectOptions');
                // Элемент списка выбранных опций
                const selectedOptionsElement = document.getElementById('selectedOptions');
                // Массив выбранных опций
                const selectedOptions = [];

                // Добавляем существующие опции в "уже выбранные"
                options.forEach(option => {
                    const selectedOptionsList = document.createElement('li');
                    const selectedOption = option;
                    if (selectedOption && !selectedOptions.includes(selectedOption) && selectedOption !== "0") {
                        selectedOptions.push(selectedOption);
                        selectedOptionsList.innerHTML = `${selectedOption} <button onclick="removeSelectedOption('${selectedOption}')">x</button>`;
                        selectedOptionsElement.appendChild(selectedOptionsList);
                    }
                });

                // Добавляем выбранную опцию
                function addSelectedOption() {
                    const selectedOptionsList = document.createElement('li');
                    const selectedOption = selectElement.value;
                    if (selectedOption && !selectedOptions.includes(selectedOption) && selectedOption !== "0") {
                        selectedOptions.push(selectedOption);
                        selectedOptionsList.innerHTML = `${selectedOption} <button onclick="removeSelectedOption('${selectedOption}')">x</button>`;
                        selectedOptionsElement.appendChild(selectedOptionsList);
                    }
                    selectElement.value = "0";
                }

                // Удаляем выбранную опцию
                function removeSelectedOption(selectedOption) {
                    const optionIndex = selectedOptions.indexOf(selectedOption);
                    if (optionIndex > -1) {
                        selectedOptions.splice(optionIndex, 1);
                        const selectedOptionList = selectedOptionsElement.querySelectorAll('li');
                        selectedOptionList[optionIndex].remove();
                    }
                }

                function extractNamesFromJson(jsonString) {
                    const obj = JSON.parse(jsonString);
                    return obj.persons;
                }
            </script>
        </div>
    </div>
</div>
<script>
    async function onClickPlus(url, idSelect) {
        let title = prompt("Введите новое значение (с большой буквы или цифры):");
        while (!/^[А-ЯA-Z0-9][а-яa-z0-9]*$/.test(title) && title !== null && title !== "") {
            title = prompt("Введите новое значение (с большой буквы или цифры):");
        }
        if (title == null || title === "") {
            alert("Неправильное значение")
            return;
        }
        const res = await sendPostRequest(url, title);
        console.log(res)
        if (res == null) {
            alert("Неправильное значение")
            return;
        }
        const select = document.getElementById(idSelect);
        clearSelectExcept0(select);
        addElementsToSelect(select, res)
        if (idSelect === "selectOptions") select.value = "0";
        alert("Успешно добавлено")
    }
</script>
<script>
    async function onClickDelete() {
        const accept = confirm("Хотите удалить эту запись?");
        if(accept===false) return;

        const idElement = document.getElementById("movieId");
        const idValue = idElement.getElementsByTagName("span")[0].innerHTML;
        const data = {
            id: idValue
        };
        const res = await sendDeleteRequest(data);
        window.location.href = '/film/editor';
    }
</script>
<script>
    async function onClickSave() {
        const accept = confirm("Хотите сохранить изменения?");
        if(accept===false) return;

        const idElement = document.getElementById("movieId");
        const titleElement = document.getElementById("title");
        const descriptionElement = document.getElementById("description");
        const durationElement = document.getElementById("duration");
        const boxOfficeElement = document.getElementById("box-office");
        const budgetElement = document.getElementById("budget");
        const dateElement = document.getElementById("release-date");

        const countryElement = document.getElementById("country");
        const genreElement = document.getElementById("genre");
        const ageLimitElement = document.getElementById("ageLimit");
        const qualityElement = document.getElementById("quality");

        const idValue = idElement.getElementsByTagName("span")[0].innerHTML;
        const titleValue = titleElement.value
        const descriptionValue = descriptionElement.value
        const durationValue = durationElement.value
        const boxOfficeValue = boxOfficeElement.value
        const budgetValue = budgetElement.value
        const dateValue = dateElement.value

        const countryIdValue = countryElement.value
        const genreIdValue = genreElement.value
        const ageLimitIdValue = ageLimitElement.value
        const qualityIdValue = qualityElement.value

        const people = selectedOptions

        const data = {
            id: idValue,
            title: titleValue,
            description: descriptionValue,
            duration: durationValue,
            totalBoxOffice: boxOfficeValue,
            budget: budgetValue,
            releaseDate: dateValue,
            country: countryIdValue,
            genre: genreIdValue,
            ageLimit: ageLimitIdValue,
            quality: qualityIdValue,
            people: people
        };

        const res = await sendSaveRequest(data);

        console.log(res)
        if (res == null) {
            alert("Поле title обязательно. Проверьте другие поля на корректность по инструкции")
            return;
        }
        console.log("reboot")
        window.location.href = '/film/editor/'+res.id;
    }
</script>
</body>
</html>

