<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Ошибка 404 - страница не найдена</title>
    <style>
        body {
            text-align: center;
            font-size: 18px;
            font-family: 'Pacifico', cursive;
            background-color: #DFF0E2;
        }
    </style>
</head>
<body>
<h1>Ошибка 404 - страница не найдена</h1>
<hr>
<button onclick="location.href='/'">В главное меню</button>
<hr>
<p>К сожалению, наша веб-страница недоступна в данный момент. Но не расстраивайтесь, мы создали для вас веселую страницу, чтобы помочь вам не унывать из-за этой неприятности!</p>
<p>На этой странице мы собрали для вас котиков, которые сделают ваш день ярче и веселее! Котики всегда помогают нам восстановить хорошее настроение. Приготовьтесь увидеть множество забавных и милых котиков!</p>
<p>А вот и первый котик!</p>
<img src="/images/cats/котик1.jpg" height="200" alt="Милый котик">
<p>Ого, какой классный котик! И не забудьте, что "404" на самом деле означает "Четыре котика", поэтому мы найдем еще несколько милых котиков для вас.</p>
<img src="/images/cats/котик2.png" height="200" alt="Еще один милый котик">
<img src="/images/cats/котик3.png" height="200" alt="Еще один милый котик">
<img src="/images/cats/котик4.png" height="200" alt="И последний милый котик">
<p>Спасибо, что вы с нами! Мы очень жалеем, что наш сайт временно недоступен, но надеемся, что котики помогли вам улыбнуться и почувствовать себя лучше. Возвращайтесь к нам скоро, мы будем рады видеть вас вновь!</p>
<hr>
</body>
</html>
