<!DOCTYPE HTML>
<html lang="ru" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <title>БД фильмы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->

<p>
    Данная БД была создана для хранения/редактирования информации о фильмах, <br>
    а также для получения возможности быстрого поиска картин по определённым параметрам. <br>
    Использовалась информация, представленная в открытом в виде, на сайте КиноПоиск
</p>

<br>
Базу данных выполнил Карандашов Владислав в рамках лабораторной работы
</body>
</html>